@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

/* $shadow: .3rem .3rem .6rem var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white); */
/* $inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white); */

body {
    height: 100vh;
    overflow-y: auto;
    background: var(--greyLight-1);
    display: flex;
    justify-content: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Poppings, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: var(--greyLight-1);
}

#calculator {
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    background: var(--greyLight-1);
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    border-radius: 2rem;
    overflow: auto;
    flex: 1;
}

#weights {
    max-width: 30rem;
    align-self: center;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    margin: 2rem;
    border-radius: 1rem;
}

#weights h2 {
    flex: 1;
    font-size: 2rem;
    text-align: center;
    max-width: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;

}

#weights input {
    margin-right: 1.5rem;
}

.inputs {
    display: flex;
    justify-content: space-between;
    max-width: 30rem;
}

#grades {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.grade {
    min-width: 22rem;
    max-width: 30rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    flex: 1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    max-width: 30rem;
}

.specifyGradeBox {
    margin: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.specifyGradeBox button {
    padding: .4rem .7rem;
    background: var(--greyLight-1);
    border: 0px;
    border-radius: .3em;
}

#averageContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    max-width: 30rem;
    align-self: center;
}

#average {
    padding: 2rem;
    background: none;
}

.actualGradesInformation {
    max-width: 15rem;
}

.createdGrade {
    font-size: 2rem;
    position: relative;
}

.createdGrade:hover {
    border: 1px solid black;
}

.createdGrade:hover .gradeTooltip {
    visibility: visible;
}

.gradeTooltip {
    position: absolute;
    visibility: hidden;
}

#gradesWeight1 {
    order: 1;
}

#gradesWeight2 {
    order: 2;
}

#gradesWeight3 {
    order: 3;
}

#gradesWeight4 {
    order: 4;
}

#gradesWeight5 {
    order: 5;
}

#gradesWeight6 {
    order: 6;
}

#gradesWeight7 {
    order: 7;
}

#gradesWeight8 {
    order: 8;
}

#gradesWeight9 {
    order: 9;
}

#gradesWeight10 {
    order: 10;
}

@media screen (max-width: 510px) {
    #grades {
        min-width: 10rem;
    }

    .grade {
        min-width: 10rem;
    }

    #weights {
        min-width: 10rem;
    }
}