@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

body {
    height: 100vh;
    overflow-y: auto;
    background: var(--greyLight-1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    color: var(--greyDark);
    margin: 0;
    padding: 0;
    background: var(--greyLight-1);
}

#calculator {
    width: 100%;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    background: var(--greyLight-1);
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    border-radius: 2rem;
    flex: 1;
}

#weights {
    max-width: 30rem;
    align-self: center;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    margin: 2rem;
    border-radius: 1rem;
}

#weights h2 {
    flex: 1;
    font-size: 2rem;
    text-align: center;
    max-width: 30rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 30rem;
}

.chooseWeightInput {
    appearance: none;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    background: var(--primary);
    border: 0px;
    border-radius: .3em;
    box-shadow: inset 0.1em 0.1em .5em var(--primary-light),
        inset -0.1em -0.1em .5em var(--primary-dark),
        0.15em 0.15em 0.3em var(--greyLight-2),
        -0.1em -0.1em 0.25em var(--white);
    color: var(--greyLight-1);
    transition: opacity ease .3s;
    justify-self: center;
}

.chooseWeightInput::before {
    opacity: 0;
    content: "";
    transition: opacity ease .3s;
}

.chooseWeightInput:checked::before {
    opacity: 1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: .6rem;
    height: .6rem;
    background: white;
    border-radius: .2rem;
    color: var(--greyLight-1);
}

.inputLabel {
    display: grid;
    grid-template-columns: 2rem 2rem;
    width: 4rem;
    font-size: 2rem;
    align-items: center;
    justify-items: end;
}

.inputLabel:nth-of-type(10) {
    grid-template-columns: 3rem 2rem;
}

#grades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
}

.grade {
    min-width: 22rem;
    max-width: 30rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    flex: 1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    max-width: 30rem;
}

.specifyGradeBox {
    margin: 1rem;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-self: stretch;
}

.specifyGradeBox button {
    padding: .4em .7em;
    cursor: pointer;
    background: var(--primary);
    border: 0px;
    border-radius: .3em;
    box-shadow: inset 0.1em 0.1em .5em var(--primary-light),
        inset -0.1em -0.1em .5em var(--primary-dark),
        0.15em 0.15em 0.3em var(--greyLight-2),
        -0.1em -0.1em 0.25em var(--white);
    color: var(--greyLight-1);
    transition: 0.3s ease;
}

.specifyGradeBox button:hover {
    color: var(--white);
}

#averageContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    max-width: 30rem;
    align-self: center;
}

#average {
    font-size: 2rem;
    padding: 1rem 2rem;
    background: none;
}

.resetButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4em .3em;
    cursor: pointer;
    width: 70%;
    font-size: 1.5rem;
    background: var(--primary);
    border: 0px;
    border-radius: .3em;
    box-shadow: inset 0.1em 0.1em .5em var(--primary-light),
        inset -0.1em -0.1em .5em var(--primary-dark),
        0.15em 0.15em 0.3em var(--greyLight-2),
        -0.1em -0.1em 0.25em var(--white);
    color: var(--greyLight-1);
    transition: 0.3s ease;
}

.resetButton:hover {
    color: var(--white);
}

.actualGradesInformation {
    max-width: 15rem;
}

.createdGrade {
    font-size: 2rem;
    width: 2rem;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: .4rem;
    margin-right: .4rem;
    padding: 0 .3rem;
    cursor: pointer;
}

.createdGrade:hover {
    background: var(--primary);
    color: white;
}

.createdGrade:hover .gradeTooltip {
    visibility: visible;
    transition: ease-in 0.3s;
}

.gradeTooltip {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    font-size: .8em;
    z-index: 1;
    padding: .2rem 1rem;
    border-radius: 2rem;
    background: var(--primary);
    color: white;
}

#gradesWeight1 {
    order: 1;
}

#gradesWeight2 {
    order: 2;
}

#gradesWeight3 {
    order: 3;
}

#gradesWeight4 {
    order: 4;
}

#gradesWeight5 {
    order: 5;
}

#gradesWeight6 {
    order: 6;
}

#gradesWeight7 {
    order: 7;
}

#gradesWeight8 {
    order: 8;
}

#gradesWeight9 {
    order: 9;
}

#gradesWeight10 {
    order: 10;
}

@media screen and (max-width: 770px) {
    #grades {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grade,
    #weights {
        width: 80%;
        min-width: 10rem;
    }
}

@media screen and (max-width: 400px) {
    :root {
        font-size: 70%;
    }

    #weights h2 {
        font-size: 2.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    #average {
        font-size: 1.6rem;
    }

    #grades {
        font-weight: 900;
    }
}